.login{
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('https://i.pinimg.com/originals/6b/1b/22/6b1b22573f9f3d4bba11a9fa5cb45652.png') no-repeat;
  background-size: fill;
  
}

.login-title{
  font-size: 50px;
  margin-left: 500px;
}

.login-form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 500px;
}

.login-form > label{
  margin: 10px 0;
  font-size: medium;
}

.login-input{
  font-size: large;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid lightgray;
}

.login-input:focus{
  outline: none;
}

.login1-button{
  margin-top: 20px;
  cursor: pointer;
  background-color: white;
  border: none;
  color:black;
  border-radius: 15px;
  height: 35px;
}

.login1-button:disabled{
  cursor: not-allowed;
  background-color: white;
}

.register-button{
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  border: none;
  padding: 10px;
  color: black;
  border-radius: 12px;
  cursor: pointer;
}