.write{
  padding-top: 50px;
}

.write-form{
  position: relative;
  display: flex;
  flex-direction: column;
}

.write-form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}



.write-input{
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.write-input:focus{
  outline: none;
}

.write-text{
  font-size: 20px;
  height: 10vh;
}

.write-submit{
  margin-top: 10px;
  color: black;
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
}

